@charset "UTF-8";

body {
    background-color:   aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
    color: rgb(204, 31, 31);
}

